$image-border-color: #FFA41B;

.Event-instance {
    width: 100%;
}

.Event-instance div {
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-content: start;
    gap: 20px;

    padding: 50px;
}

.Event-instance div h1 {
    font-size: 2.2rem;
}

.Event-instance div p {
    font-size: 1.5rem;
}

.Event-instance img {
    width: 350px;

    border: 2px solid $image-border-color;
}

.Event-instance div section {
    display: flex;
    flex-direction: column;
    gap: 30px;
}