@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

$body-background-color: #F0E3CA;
$global-font-color: #1B1A17;

* {
    font-family: 'Roboto Condensed';
    color: $global-font-color;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

a {
    text-decoration: none;
}

html, body {
    background-color: $body-background-color;
}

.btn {
    padding: 1rem;
    border: none;
    width: 200px;
    height: 60px;
    box-shadow: 0 5px 1px -1px gray;

    font-size: 1.3rem;

    overflow: hidden;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    animation-name: button-clicked;
    animation-duration: .2s;
}

.Reload-screen-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #D9D9D9;
}

.Reload-screen-main img {
    width: 100px;
    animation: infinite-rotation 2s linear infinite;
}

.hidden {
    visibility: hidden;
}

// Resolution
@media screen and (max-width: 1150px) {
    .btn {
        padding: .2rem;
        width: 100px;
        font-size: 1.1rem;
    }
}

// Animations
@keyframes button-clicked {
    0% {
        transform: scale(1);
    } 50% {
        transform: scale(.98);
    } 100% {
        transform: rotate(1);
    }
}

@keyframes infinite-rotation {
    0% {
        transform: rotate(0deg);
    } 50% {
        transform: rotate(180deg);
    } 100% {
        transform: rotate(360deg);
    }
}