$search-instance-background-color: #FFA41B;
$search-bar-border-color: #525FE1;
$search-bar-font-color: #FFA41B;

.Search-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Search-bar {
    width: 85%;
    height: 50px;

    margin-top: 50px;
    border: 5px solid $search-bar-border-color;

    padding-left: 1rem;
    font-size: 1.5rem;
    color: $search-bar-font-color;

    outline: none;
}

.Search-instance {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.Search-instance > div {
    width: 40vw;

    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Search-instance > div div:hover {
    animation: hoverStart .2s;
    transform: scale(.98);
}

.Search-instance > div div p {
    font-size: 1.5rem;

    width: 100%;

    display: flex;
    justify-content: start;
    align-items: center;
    padding: .5rem 1rem;

    background-color: $search-instance-background-color;
}

.Search-instance > div > div p:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .1);
}

// Resolution
@media screen and (max-width: 1150px) {
    .Search-instance {
        flex-wrap: wrap;
        gap: 0;
    }
    .Search-instance > div {
        margin-top: 20px;
        width: 70vw;
    }
    .Search-instance > div div p {
        justify-content: center;
    }
    .Search-bar {
        width: 70vw;
    }
}

@media screen and (max-width: 800px) {
    .Search-bar {
        width: 80vw;
    }
    .Search-instance > div {
        width: 80vw;
    }
}

// Animations 
@keyframes hoverStart {
    0% {
        transform: scale(1);
    } 100% {
        transform: scale(.98);
    }
}