$image-border-color: #F86F03;
$instance-slide-background-color: #525FE1;

// Second Row
.Slide-instances-container-slide {
    width: 100%;
    padding: 20px;
    background-color: $instance-slide-background-color;

    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.Slide-row-one, .Slide-row-two {
    display: flex;
    gap: 20px;
    overflow-y: hidden;
    overflow-x: auto;
}

.Slide-row-one div, .Slide-row-two div {
    width: 170px;
}

.Slide-instances-container-slide div img {
    width: 100%;
    border: 2px solid $image-border-color;

    animation: fadeEnd .2s;
    opacity: 1;
}

.Slide-instances-container-slide div img:hover {
    cursor: pointer;
    animation: fadeStart .2s;
    opacity: .6;
}

// Animations
@keyframes fadeStart {
    0% {
        opacity: 1;
    } 50% {
        opacity: .8;
    } 100% {
        opacity: .6;
    }
}

@keyframes fadeEnd {
    0% {
        opacity: .6;
    } 50% {
        opacity: .8;
    } 100% {
        opacity: 1;
    }
}